
<h3 class="comment-title"><%= @link.comments.count %> Comments</h3>

<% @link.comments.each do |comment| %>
  <div class="comments">
    <p>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.username %></p>
    <h5><%= comment.body %></h5>
  </div>
  <% if comment.user == current_user %>
    <%= link_to "Delete", link_comment_path(@link,comment), method: :delete %>
  <% end %>
<% end %>
<%= form_for([@link, Comment.new]) do |f| %>
  <%= f.label :body, "Your comment here" %><br/>
  <%= f.text_area :body %><br/>
  <%= f.submit "Add Comment" %>
<% end %>