
<div class="panel panel-default">
<h3 class="panel-heading"><%= pluralize(@link.comments.count, "Comment") %></h3>
  <div class="panel-body">
    <% @link.comments.each do |comment| %>
      <div class="comments">
        <p>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.username %></p>
        <div class="comment-wrapper">
          <h5><%= comment.body %></h5>
          <% if comment.user == current_user %>
            <%= link_to "Delete", link_comment_path(@link,comment), method: :delete %>
          <% end %>
        </div>
      </div>
      
      <hr>
    <% end %>
  </div>
</div>
<div class="form-group">
  <%= form_for([@link, Comment.new]) do |f| %>
    <%= f.label :body, "Your comment here" %><br/>
    <%= f.text_area :body, class: "form-control" %><br/>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>
</div>