<% provide(:title, "LinkIt | #{@link.title}") %>

<%= @link.title %>
<%= @link.url %>

<%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-chevron-up"></span>
  Upvote
  <%= @link.get_upvotes.size %>
<% end %>
<%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-chevron-down"></span>
  Downvote
  <%= @link.get_downvotes.size %>
<% end %>

<%= link_to "Edit", edit_link_path %>
<%= link_to "Delete", link_path(@link), method: :delete, data: {confirm: "Are you sure?"} %>
